{% extends "base.html" %}

{% block content %}
<div class="container col-md-10 pt-5">
    <h1 class="pb-3" style="font-size: 2rem; font-weight: 700;">What is OpenOMP?</h1>
    <p style="font-size: 1.4rem; font-weight: 300;">OpenOMP is an <b>open-source online market platform</b> that can be used to quickly create niche online markets.</p>
    <p style="font-size: 1.4rem; font-weight: 300;">Niche markets are usually organized through specialized forums.<b> OpenOMP helps niche markets to grow</b> by making it more accessible than obscure forums.</p>
    
    <p style="font-size: 1.4rem; font-weight: 300;">This website is a <b>demonstration</b> of an example application of OpenOMP. The OpenOMP platform can be used for a variety of niche markets (e.g. knive makers, board game creators, wooden decorative items,... ).</p>
    <h2 class="pt-5" style="font-size: 1.4rem; font-weight: 300;">Credits</h2>
    <div style="font-weight: 300;">
        <div>For this demonstration of OpenOMP the following icons have been used:</div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
{% endblock content %}