{% extends "base.html" %}

{% block content %}
    <div class="container col-md-4">
        <h1 class="pt-5 pb-3 h2" style="font-weight: 500;">Add new item</h1>
        <form method='POST' action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>       
                {{ form.title.label(class="form-control-label") }}     
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
                {{ form.description.label(class="form-control-label") }}     
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
                {{ form.item_image.label(style="font-weight:500;", class="mt-3") }}
                {{ form.item_image(class="form-control-file") }}
                {% if form.item_image.errors %}
                    {% for error in form.item_image.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
                {{ form.submit(class="btn btn-primary btn-lg mt-5") }}
            </fieldset>
        </form>
    </div>
{% endblock content %}