{% extends "base.html" %}

{% block content %}
<div class="container col-md-10 pt-3">
    <h1 style="font-size: 2rem; font-weight: 700;">Credits</h1>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons erstellt von <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></div>
</div>
{% endblock content %}