{% extends "base.html" %}

{% block content %}
<div class="container col-md-6">
    <h1 class="pt-5 pb-3" style="font-weight: 700; font-size: 2rem;">Register</h1>
    <form method='POST' action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>       
            {{ form.username.label(class="form-control-label") }}     
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg", autocomplete="off") }}
            {% endif %}
            {{ form.password.label(class="form-control-label") }}     
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg", autocomplete="off") }}
            {% endif %}
            {{ form.submit(class="btn btn-success btn-lg mt-5") }}
        </fieldset>
    </form>
</div>{% endblock content %}